/* :root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green-bright: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
} */

:root {
  --dark-navy: #070d1f;
  --navy: #0d1633;
  --light-navy: #16245a;
  --lightest-navy: #243a82;
  --navy-shadow: rgba(7, 13, 31, 0.75);

  --slate: #8ea1c9;
  --light-slate: #b2c2eb;
  --lightest-slate: #dfe6ff;
  --white: #f4f7ff;

  --green-bright: #8ecbff;      /* icy blue accent */
  --green-tint: rgba(142, 203, 255, 0.12);
}

@font-face {
  font-family: 'NTR';
  src: url('../fonts/NTR-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../fonts/SourceSerifPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../fonts/SourceSerifPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../fonts/SourceSerifPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../fonts/SourceSerifPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}